<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
   		<title>Enlaces</title>
	  
	<link href='https://fonts.googleapis.com/css?family=Oswald|Open+Sans|Reenie+Beanie:regular|Mukta+Mahee ' rel='stylesheet' type='text/css'>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styleEnlaces.css') }}">
	<link rel='stylesheet' href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">

	</head>
	<body>

		
		{% include 'user/header.html' %}
 		{% include 'user/menu_user.html' %}

 		
		<div class="wrapper">

  			<h1>Enlaces</h1>
  			<p>Lista de enlaces de interés asociados a tu facultad.</p>
  			<ul class="list">
  			{% for enlace in enlaces %}
  				<li class="list"><a class="links" href={{enlace.enlace}}>{{enlace.nombre}}</a></li>
  			{% endfor %}
  			
			
		</div>
				
		<div class="ranking" >
			<img class="avatar" src="{{url_for('static', filename='logo.jpg')}}" />
		</div>
		{% include 'user/footer.html' %}
	</body>

</html>
