<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
   		<title>Pagina Identificación</title>
	  
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>   
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

	</head>
	<body>

		<header id="main-header">
		
		<a id="logo-header" href="/">
			<span class="site-name">UCM Community</span>
			<span class="site-desc">Compañeros / Recursos  / Información </span>
		</a> <!-- / #logo-header -->
 
		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="#">Acerca de</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</nav><!-- / nav -->
 
		</header><!-- / #main-header -->



		<div class="wrapper">
  			<h1>Identificate</h1>
  			<p>Identificate a través de tu nombre de usuario y la contraseña que hayas elegido anterirormente.</p>
  			<form class="form" method="post" action="/comp_ident">
    			<input type="text" name="nombre"  class="name" placeholder="Nick" required>
    			<div>
      				<p class="name-help">Por favor introduzca un nombre de usuario.</p>
    			</div>
    			<input type="password" name="password" class="email" placeholder="Contraseña" required>
     			<div>
      				<p class="email-help">Por favor introduzca una contraseña.</p>
    			</div>
    			<input type="submit" class="submit" value="Identificar">
  			</form>
		</div>
			
	<script type=text/javascript src="{{ url_for('static',filename='script.js') }}" ></script> 
	</body>

</html>
