<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
   		<title>Pagina Registro</title>

	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

	</head>
	<body>

		<header id="main-header">

		<a id="logo-header" href="/">
			<span class="site-name">shareStudy</span>
			<span class="site-desc">Compañeros / Recursos  / Información </span>
		</a> <!-- / #logo-header -->

		<nav>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="#">Acerca de</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</nav><!-- / nav -->

		</header><!-- / #main-header -->



		<div class="wrapper">
  			<h1>Registrate</h1>
  			<p>Elige tu facultad.</p>
  			<form class="form" method="post" action="/registro">
    			<div>
    				<p>>Elige tu facultad
    					<select name="facultad"  id="facul" style="width:120px" onchange='genList(this.value);'>
  							{% for facultad in vs %}
  								<option value="{{ facultad }}">{{ facultad }}</option>
							{% endfor %}
						</select>
					</p>
				</div>
    			<input type="submit" class="submit" value="Siguiente">
  			</form>
		</div>
	<script type=text/javascript src="{{ url_for('static',filename='script.js') }}" ></script>
	</body>

</html>
