<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
   		<title>Perfil</title>

	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


	<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylePerfil.css') }}">
	<link rel='stylesheet' href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
	</head>
	<body>


		{% include 'user/header.html' %}

		<a href="javascript:history.back()"  class="back" ><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
		<div class="wrapper">

			<p><input id="user_name" type = "hidden" name = "nombre" value = "{{usuario.nombre}}" /></p>
			<img class="avatar" src="{{url_for('static', filename='')}}{{usuario.foto}}" />
			<p id="name" class="old"><b>Nombre Usuario >></b>{{usuario.nombre}}</p>
			<div id="new_name" class="new">
				<p>Nuevo Nombre:<input type="text" name="titulo" class="pass" placeholder={{usuario.nombre}}><button  id="s_n" class="button" > Enviar </button></p>
			</div>
  			<p id="facultad" class="old"><b>Facultad >></b>{{usuario.facultad}}.<button id="usuario_facultad"  class="button" > Editar </button></p>
  			<p id="new_facul" class="new">>Nueva facultad
    					<select name="facultad"  id="facul" style="width:120px">
  							{% for facultad in facul %}
  								<option value= "{{facultad.nombre}}" >{{ facultad.nombre }}</option>
							{% endfor %}
						</select>
						<button  id="s_f" class="button" > Enviar</button>
					</p>
  			<p id="titul" class="old"><b>Titulacion >></b>{{usuario.titulacion}}.<button id="usuario_titulacion" class="button" > Editar </button></p>
  			<p id="new_titul" class="new">>Nueva titulacion
    					<select name="titulacion"  id="new_titulacion" style="width:120px">
  							{% for titulacion in titul %}
  								<option value= "{{titulacion.nombre}}" >{{ titulacion.nombre }}</option>
							{% endfor %}
						</select>
						<button  id="s_t" class="button" > Enviar</button>
					</p>
  			<p id="password" class="old"><b>Password >> </b>{{usuario.password}}<button id="usuario_password"   class="button" > Editar </button></p>
  			<div id="new_password" class="new">
				<p>Nuevo password:<input id="n_p" type="text" name="titulo" class="pass" placeholder={{usuario.password}}><button id="s_p"  class="button" > Enviar </button></p>
			</div>
  			<p id="mail" class="old"><b>Email >> </b>{{usuario.email}}<button id="usuario_email" class="button" > Editar </button></p>
  			<div id="new_email" class="new">
				<p>Nuevo email:<input id="n_m" type="text" name="titulo" class="pass" placeholder={{usuario.email}}><button id="s_m"  class="button" > Enviar </button></p>
			</div>
  			<div class="perfil_files">
  				<div class="container_perfil">
		  			<p>{{usuario.archivos_subidos}}</p>
		  			<p><b class="est">Archivos Subidos</b></p>
	  			</div>
	  			<div class="container_perfil">
		  			<p>{{usuario.descargas}}</p>
		  			<p><b class="est">Descargas</b></p>
	  			</div>
	  			<div class="container_perfil">
		  			<p>{{usuario.comentarios}}</p>
		  			<p><b class="est">Comentarios</b></p>
	  			</div>
	  			<div class="container_perfil">
		  			<p>{{usuario.posts}}</p>
		  			<p><b class="est">Posts</b></p>
	  			</div>
	  		</div>
  			<form enctype=multipart/form-data method="post" action="/usuario/perfil/cargar_imagen">
  				<p><input type = "hidden" name = "nombre" value = {{usuario.nombre}} /></p>
      			<p><input type=file name=file required>
         		<button type="submit" class="upload">
    				<i class="fa fa-upload" aria-hidden="true"></i>
					Upload
				</button>
         		</p>
    		</form>
    		<a id="buzon" href={{url_for('user.usuario_mensajes', nombre=usuario.nombre) }}    class="buzon" ><i id="envelope" class="fa fa-envelope fa-4x"></i>
    			{% if usuario.no_leidos > 0 %}
          			<i style="position: absolute; top: 10%; color: red;" class="fa fa-exclamation-circle fa-2x"></i></a></li>
          		{% endif %}
          	</a></p>
		</div>

		{% include 'user/footer.html' %}
	<script>
		$(document).ready(function(){

			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			var name = {{usuario.nombre|tojson|safe}};

			$("#facul").change(function(){
            	$.getJSON('/usuario/perfil/_search',{
						busqueda: $('#facul').val(),
					},function(data){

            $("#new_titulacion").html(data.result);


    			});

			});
	    	$(".new").hide();

		    $("#buzon").hover(function(){

			    $("#envelope").removeClass("fa fa-envelope fa-4x").addClass("fa fa-envelope-open fa-4x");
			},
			function(){
			   	$("#envelope").removeClass("fa fa-envelope-open fa-4x").addClass("fa fa-envelope fa-4x");
			});
			$("#usuario_nombre").click(function(){
				$(".old").show();
				$(".new").hide();
				$("#name").hide();
		        $("#new_name").show();

		    });

		    $("#usuario_password").click(function(){
		    	$(".old").show();
		    	$(".new").hide();
		        $("#new_password").show();
		        $("#password").hide();
		    });
		    $("#usuario_email").click(function(){
		    	$(".old").show();
		    	$(".new").hide();
		        $("#new_email").show();
		        $("#mail").hide();
		    });
		    $("#usuario_titulacion").click(function(){
		    	$(".old").show();
		    	$(".new").hide();
		        $("#new_titul").show();
		        $("#titul").hide();
		    });
		    $("#usuario_facultad").click(function(){
		    	$(".old").show();
		    	$(".new").hide();
		        $("#new_facul").show();
		        $("#facultad").hide();
		         $("#new_titul").show();
		        $("#titul").hide();
		        $("#s_t").hide();
		    });

			$("#s_p").click(function(){
				$(".new").hide();
				$(".old").show();
				$.getJSON('/usuario/perfil/cambiar_password',
			        {
			          nombre: name,
			          nuevo_pass: $("#n_p").val(),
			        },
			        function(data){

			        	 location.reload();
			        });
			});
			$("#s_m").click(function(){
				$(".new").hide();
				$(".old").show();
				$.getJSON('/usuario/perfil/cambiar_mail',
			        {
			          nombre: name,
			          nuevo_mail: $("#n_m").val(),
			        },
			        function(data){

			        	 location.reload();
			        });
			});
			$("#s_t").click(function(){
				$(".new").hide();
				$(".old").show();
				$.getJSON('/usuario/perfil/cambiar_titulacion',
			        {
			          nombre: name,
			          nueva_titulacion: $("#new_titulacion").val(),
			        },
			        function(data){

			        	 location.reload();
			        });
			});
			$("#s_f").click(function(){
				$(".new").hide();
				$(".old").show();
				$.getJSON('/usuario/perfil/cambiar_facultad',
			        {
			          nombre: name,
			          nueva_facultad: $("#facul").val(),
			          nueva_titulacion: $("#new_titulacion").val(),
			        },
			        function(data){

			        	 location.reload();
			        });
			});


		});
	</script>
	</body>

</html>
