<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
   		<title>shareStudy</title>

	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styleLanding.css') }}">
	<link rel='stylesheet' href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">


	</head>
	<body>
		<div class="titulo_sup"></div>
		<div class ="titulo" ><h1>shareStudy <i class="fa fa-users" aria-hidden="true"></i></h1></div>
		<div class="titulo_inf"></div>
		<div class = "exterior">
			<div class= "buttons">
	  			<a href="/ident"   class="button" >Identificate &nbsp;&nbsp;<i class="fa fa-user" aria-hidden="true"></i></a>
	  			<a href="/registro"  class="button" >Registrate &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i></a>
	  		</div>
		</div>
	</body>

</html>
