<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>TABLA DE HORARIOS ESCOLAR</title>
</head>
<body BGCOLOR="#1189BB"  >
<center><h1>Mi tabla de horarios escolares</h1></center>
<br>
<br>
<br>
Hola, mi nombre es <b>Matías Kujawski</b> y concurro a la Escuela Técnica ORT. Mis horarios de 5to año son los siguientes:
<br>
<br>
<br>
<br>
<table border =1>
<tr>
<td><img src="../Imagenes/ort.jpg"></td>
<td>Lunes</td>
<td>Martes</td>
<td>Miercoles</td>
<td>Jueves</td>
<td>Viernes</td>
</tr>
<tr>
<td>1er bloque</td>
<td>Fuentes</td>
<td>SSI</td>
<td>Gimnasia</td>
<td>Química</td>
<td>Programación</td>
</tr>
<tr>
<td>2do bloque</td>
<td>Historia judía</td>
<td>Matemática</td>
<td>SPI</td>
<td>Matemática</td>
<td>Matemática</td>
</tr>
<tr>
<td>3er bloque</td>
<td>SSI</td>
<td>Historia judía</td>
<td>Imagen</td>
<td>Natación</td>
<td>Sociales</td>
</tr>
<tr>
<td>-</td>
<td>Almuerzo</td>
<td>Almuerzo</td>
<td>Almuerzo</td>
<td>Almuerzo</td>
<td>Almuerzo</td>
</tr>
<tr>
<td>4to bloque</td>
<td>SPI</td>
<td>Inglés</td>
<td>Lengua</td>
<td>Inglés</td>
<td>Lengua</td>
</tr>
<tr>
<td>5to bloque</td>
<td>SPI</td>
<td>Programación</td>
<td>Sociales</td>
<td>----</td>
<td>----</td>
</tr>
<tr>
<td>6to bloque</td>
<td>----</td>
<td>Programación</td>
<td>Química</td>
<td>----</td>
<td>----</td>
</tr>
</table>
<br>
<i> PARA IR A MI PÁGINA PERSONAL APRETÁ EN :<i><a href="../Pagina personal.html"><b>PÁGINA PERSONAL</b></a>
<br>
<i>PARA IR A MIS HORARIOS EXTRAESCOLARES APRETÁ EN:<i><a href="../Tabla Extraescolar/CONSIGNA B, TAREA TABLAS EXTRAESCOLARES.html"><b>MIS HORARIOS EXTRAESCOLARES</b></a>
<br>
<br>
ENCONTRÁ MUCHÍSIMA INFORMACIÓN SOBRE INTERNET <img src="../Imagenes/INTERNET.gif"> y sobre el Club Deportivo Godoy Cruz Antonio Tomba <img src="../Imagenes/GODOYCRUZ.gif"> entrando en : <i><a href="http://www.tombamibuenamigo.blogspot.com"><b>BLOG DE GODOY CRUZ E INTERNET</b>


<p align ="right"><font color = "red">Contador de visitas:</font><br>
<!-- Codigo contadorgratis.com ver. 4.3 -->
<script language="javascript" src="http://www.contadorgratis.com/hitv2.php?digit=7seg&page=9141de6221a2dd103477caa551277882"></script>
<br><font size=1><a href="http://www.contadorgratis.com" target="_blank">Contador gratis</a></font>
<!-- FIN Codigo contadorgratis.com --><br>
<p align ="right">
<p align ="center"><img src="../Imagenes/godoy_cruz.bmp">
</body>
</html>